/*
	@package ryan m anderson
*/
/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$white: #ffffff;
$primary-color: #000000;
$dark-grey : #333333;
$light-grey: #898989;
$lighter-grey: #F1F1F1;
$orange: #ff9d1d;
$orange-hover: #F56B08;
 